#head
{
	width: 100%;
	text-align: center;
}
#menu
{
	float: left;
	width: 30%
}
#main
{
	float: left;
	width:70%;
	height: 70%
}
#foot
{
	float: left;
	width: 100%;
	text-align: center;
}
#timeForm
{
	align-items: center;
	text-align: center;
}
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
